{% extends 'base.html.twig' %}

{% block title %}Dieze Market{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-3">
          <h3>Filtrer</h3>
         {{form(form)}}                    
</div>
<div class="col-md-9">
 <h3>Nos Produits</h3>
 <div class="row">
        {% for product in products %}
    <div class="col-md-4">
        <div class="product-item">
        <a href="{{ path('product_show',{'slug':product.slug})}}"><img src="/uploads/{{ product.photo }}" alt="{{ product.libelle }}" class="img-fluid"/></a>
             <h5>{{product.libelle}}</h5>
             <span class="product-subtitle"> {{ product.description }}</span><br>
             <span class="product-price">{{ (product.prix /100)| number_format(2) }} MAD</span>
        </div>
    </div>
        {% endfor %}
</div>
</div>
</div>
       

{% endblock %}